<!DOCTYPE html>
<html>
<head>
<title>Sign</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<meta name="keywords" content="Flat Dark Web Login Form Responsive Templates, Iphone Widget Template, Smartphone login forms,Login form, Widget Template, Responsive Templates, a Ipad 404 Templates, Flat Responsive Templates" />
{% load static %}
<link href="{% static 'web/css/style.css' %}" rel='stylesheet' type='text/css' />
<!--webfonts-->
<link href='http://fonts.useso.com/css?family=PT+Sans:400,700,400italic,700italic|Oswald:400,300,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<!--//webfonts-->
<script src="http://ajax.useso.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>
<body>
<script>$(document).ready(function(c) {
	$('.close').on('click', function(c){
		$('.login-form').fadeOut('slow', function(c){
	  		$('.login-form').remove();
		});
	});
});
</script>
 <!--SIGN UP-->
<h1>DevOps 开发者平台</h1>
<div class="login-form">
{#	<div class="close"> </div>#}
		<div class="head-info">
            {{ error_data }}
{#			<label class="lbl-1"> </label>#}
{#			<label class="lbl-2"> </label>#}
{#			<label class="lbl-3"> </label>#}
		</div>
			<div class="clear"> </div>
	<div class="avtar">
		<img src="../../static/web/images/avtar.png" />
	</div>
			<form action="/signcheck/" method="get">
					<input type="text" class="text" name="username" value="Username" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Username';}">
					<input type="password_again" value="Password" name="password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
                    <div class="key">
					<input type="password_again" value="Password Again" name="password_again" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
                    </div>
                    <br>
                    <br>
                    <button type="submit" class="btn btn-success btn-lg" name="sign" style="margin-left:30px;">注   册</button>
                    <a href="{% url 'web:login'%}" class="btn btn-success btn-lg" name="submit" style="margin-left:30px;">返   回</a>
                    <br>
                    <br>
                    <br>
{#                        <input type="submit" class="btn btn-success pull-left" name="submit">#}

            </form>
</div>
 <div class="copy-rights">
     <p>Copyright &copy; 2018.Company name All rights reserved.Welcome to my <a href="http://www.cuijanmin.top/" target="_blank" title="my blog">blog.</a></p>
</div>
</body>
</html>